<% content_for :pagename do %>
 Log In
<% end %>

<div id="message_block_container">
	<div id="message_block_title">
		Log In
	</div>
	<div id="message_block">
		<% form_tag session_path do -%>
			<p><label for="login">Login</label><br/>
			<%= text_field_tag 'login' %></p>

			<p><label for="password">Password</label><br/>
			<%= password_field_tag 'password' %></p>

			<p><label for="remember_me">Remember me:</label>
			<%= check_box_tag 'remember_me' %></p>
	
			<p><%= submit_tag 'Log in' %></p>
		<% end -%>
	</div>
</div>