<% content_for :pagename do %>
	Signing Up
<% end %>

<div id="message_block_container">
	<div id="message_block_title">
		Next Step: You only have to do this once!
	</div>
	<div id="message_block">
	 	We have sent a message to <%=h @user.email %> with an activation code. <br />
		Please check your email and click the link to activate your account.
		
		<br />
		<br />
		If you are having trouble clicking the link in your email, you can 
		<%= link_to 'Enter Your Activation Code Here', activate_path %>.
	</div>
</div>