%fb:add-section-button{:section => "profile"}
- fb_multi_friend_request ("MyQuotable", "Invite your friends to use My Quotable.", invitations_path) do
  I added My Quotable, the social quoting application for Facebook. Join today and start tagging, sharing, and voting on quotes!
  = fb_req_choice("Share!", new_invitation_url(:from => @from_user_id, :canvas => true))