<<<<<<< HEAD:app/views/invitations/new.haml
<<<<<<< HEAD:app/views/invitations/new.haml
<<<<<<< HEAD:app/views/invitations/new.haml
- tag = h "<fb:req-choice url=\"#{new_invitation_url(:from => @from_user_id, :canvas => true)}\" label=\"Invite Friends\" />"
- msg = "I added My Quotable, the social quoting application for Facebook. Join today and start tagging, sharing, and voting on quotes!"
- content = "#{msg} #{tag}"

=======
>>>>>>> bc99dbe... More facebook progress:app/views/invitations/new.haml
=======
>>>>>>> bc99dbe... More facebook progress:app/views/invitations/new.haml
=======
>>>>>>> bc99dbe... More facebook progress:app/views/invitations/new.haml
%fb:fbml
  %fb:request-form{:action => new_invitation_path, :method => "POST", :invite => "true", :type => "My Quotable", :content => "I added My Quotable!"}
    %fb:multi-friend-selector{:showborder => "false", :actiontext => "Invite your friends to use My Quotable."}