development:
  server: mail.myquotable.com
  port: 26
  domain: myquotable.com
  authentication: login
  username: admin+myquotable.com
  password: FIXME
  
production:
  server: mail.myquotable.com
  port: 26
  domain: myquotable.com
  authentication: login
  username: admin+myquotable.com
  password: FIXME
  tls: true