
<table cellpadding="10" cellspacing="5" border="0" width="750px">
	<tr valign="top">
		
		
		<td width="160" align="left">
			<%# render :partial => 'nav_about' %>


			<br/>

		</td>
		<td width="480" align="right">
			<div id="message_block_container" style="background: #cfe0f0; width: 500px; padding: 5px 5px 5px 5px;">

			<table width="480" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="480">
					<div id="terms_title" style="background: #EDF3FE; padding: 5px 10px 5px 10px; width: 480px; border-bottom: 1px dotted #ddd;">
						<table width="480" cellpadding="5" cellspacing="0" border="0">
							<tr>
								<td align="left">
								<b>Privacy Policy</b>
								</td>
							</tr>
						</table>
					</div>
					<div id="terms" style="background: #fff; padding: 5px 10px 5px 10px; width: 480px; border-bottom: 1px dotted #ddd;">	<center>
						<table width="470" cellpadding="10" cellspacing="0" border="0">
							<tr>
								<td align="left">
									<span style="font-size: 10px;">
								
										<p/>
										<span style="font-size: 10px;">
										
											By using MyQuotable.com ("MyQuotable.com"), you accept the following privacy statement (the “Privacy Statement”). You are also aware of our Terms of Use located on the MyQuotable.com web site. Using MyQuotable.com is governed also by the Terms of Use. In the event of inconsistency between this Privacy Statement and the Terms of Use, the Terms of Use shall prevail.
<br/><br/>
											MyQuotable.com is committed to protecting your privacy. This Privacy Statement describes how MyQuotable.com ("Service") collects and receives personal information through our social networking service, including SMS, MMS, and e-mail and uses the personal information and how MyQuotable.com may share the personal information that it collects and receives. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number. When you register with MyQuotable.com, your personal information and other data will be stored and processed in the United States and this information will be subject to the laws of the United States.
<br/><br/>
											By using our Site you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing" means using cookies on a computer or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the U.S. your personally identifiable information will be transferred to the U.S., and processed and stored there under U.S. privacy standards. By visiting our Site and providing information to us, you consent to such transfer to, and processing in, the US.
<br/><br/>
											<b>Children under 13 years of age are not permitted to use the Service.</b>
<br/><br/>

											    <li> MyQuotable.com collects personal information when you sign up with MyQuotable.com to use the Service and each time you use the Service.
											    <li> When you sign up with MyQuotable.com we ask for your name and email address. In the future you will be able to add certain optional information to your profile, such as your address, home town, birth date, gender, biographical information, instant messaging user names, and personal interests. By entering your personal information in the Service or by otherwise disclosing your personal information to us, you also accept and give your explicit consent that your personal information may be transferred, to the maximum extent permitted by applicable laws, across international borders to a location outside the country of your location.
											    <li> If you would like to use our text messaging or picture message service, we will ask for your mobile phone number.
											    <li> MyQuotable.com automatically receives and records information on its server logs from your browser, including your IP address, cookie, and the page you request.
													<br/><br/>
													<b>Use of cookies</b>
													<br/><br/>
											MyQuotable.com may use cookies on the Service and/or the Software. A cookie is a small file, which often includes an anonymous unique identifier, which is sent to your browser and stored on your computer's hard drive.
											<br/><br/>

											    <li> If you do not wish to have cookies placed on your computer or wish to be notified when they are placed, you may set your browser to reject cookies or notify you of their use. If you reject all cookies, you will not be able to use those parts of the Service that require you to "sign in".
											    <li> MyQuotable.com uses its own cookies for a number of purposes, including but not limited to access your information when you "sign in"; keep track of preferences you specify while you are using the Service; and display the most appropriate advertising banners based on your activity on the Service.
											    <li> MyQuotable.com lets other companies that show advertisements on the Service sent and store cookies on your computer, subject to their own privacy policies.
													<br/><br/>
											<b>How we share your personal information</b>
											<br/><br/>
											    <li> When you post a message, your MyQuotable.com username or alias that you are posting under is visible to other users. If you post personal information online that is accessible to the public, you understand that you may receive unsolicited messages from other parties in return.
											    <li> Generally, MyQuotable.com does not share personal information about you with other people or nonaffiliated companies without your prior consent except to provide requested products or services or in the following circumstances:
												<ul>	<span style="font-size: 10px;">
												
											          <li> MyQuotable.com may be required to disclose personally identifiable information under special circumstances, such as to comply with legal requirements or to exercise its legal rights;
											          <li> It may be necessary to share information in order to investigate, prevent, or take action regarding suspected or actual illegal activities on or through the Service or the Software, including but not limited to violations of the Terms of Use or infringement of third party intellectual property rights, or as otherwise permitted or required by applicable laws;
											          <li> MyQuotable.com may share aggregated demographic information with its business partners. This is not linked to any personally identifiable information that can identify any individual person without your prior consent; and
											          <li> In the event MyQuotable.com enters into a joint venture or is acquired by or merged with another business entity, we may disclose your personal Information to our business partners or new owners.
</span></ul>
<br/>

											<b>How we can modify this Privacy Statement</b>
<br/><br/>
											You understand that we are continuously developing the features and the functionality of the Service. Consequently, we also reserve the right to modify this Privacy Statement at any time in our sole discretion. You agree that such alteration shall be effective upon posting on the MyQuotable.com web site and you will be bound to any alterations when you use the Service after such alteration is posted. It is therefore important that you review this Privacy Statement regularly on the MyQuotable.com web site to ensure you are updated regarding any alterations. Your sole remedy should you not agree with the altered Privacy Statement shall be to close your account and to cease using the Service.
											<br/><br/>
											<b>Any questions</b>
											<br/><br/>
											If you have questions or suggestions, or would like to review your personal information stored by us, please contact us. Or, you can reach us at the following address:
<br/><br/>
<a href="mailto:privacy@myquotable.com">Privacy@MyQuoatable.com</a>

										</div>
								</td>
							</tr>
						</table>
					</div>

					</td>
				</tr>
			</table>
			</div>


		</td>
		


	</tr>
</table>