<% content_for :pagename do %>
 Terms of Use
<% end %>

<div id="message_block_container">
	<div id="message_block_title">Terms of Use</div>
	<div id="message_block">	
		<b>INTRODUCTION</b>
		<p>										
		By using the MyQuotable.com web site,  you are agreeing to be bound by the following terms and conditions ("Terms of Use").    We reserve the right to alter these Terms of Use at any time without notification. You agree that it is your responsibility to periodically check these terms and conditions for any changes that have been made.
		</p>
 		<b>Terms</b>
		<p>You may use the MyQuotable.come services provided by MyQuotable.com in accordance with the Terms of Use solely for your own personal, non-commercial purposes.</p>
 		<p>You must be 13 years or older to use MyQuotable.com</p>
		<p> You are responsible for maintaining the confidentiality of your password.  You will hold MyQuotable.com harmless for any damage arising from a third party accessing the Service using a password you disclosed.</p>
		<p> You must not modify, adapt or hack MyQuotable.com</p>
		<p> You must not modify another website to imply that it is associated with MyQuotable.com.</p>			
	    <p> You may not use the services provided by MyQuotable.com to:
			<ul>
			<li> upload, post, email or otherwise transmit any Content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or racially, ethnically, sexually or otherwise objectionable;
			<li> harm minors in any way;
			<li> solicit personal information from anyone under 18
			<li> impersonate any person or entity, including, but not limited to, a MyQuotable.com official, or falsely state or otherwise misrepresent your affiliation with a person or entity;
			<li> provide a false birthday or age;
			<li> forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service;
			<li> upload, post, email or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);
			<li> upload, post, email or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights (“Rights”) of any party;
			<li> upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation
			<li> upload, post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
			<li> “stalk” or otherwise harass another;
			<li> collect or store personal data about other users;
			<li> upload, post, email or otherwise transmit any Content that provides instruction about illegal activities, including illegal drug use, child predation, terrorist activities, instructions in assembling or obtaining bombs or other weapons;
			<li> upload, post, email or otherwise transmit any Content that encourages or promotes physical harm against any group or individual. This includes Content that encourages or promotes self-harm;
			<li> interfere with or disrupt the Service or the servers or networks used to provide or receive the Service or disobey any requirement, procedure, policies and regulation of any networks used to provide and receive the Service;
			<li> intentionally or unintentionally violate any applicable local, state, national, foreign or international laws or regulation, including, any rule or regulation of any securities exchange, such as the New York Stock Exchange, the American Stock Exchange or the NASDAQ, any self-regulatory organization or the U.S. Securities and Exchange Commission.
			</ul>
	    <p> Violation of any of these terms of use will result in the termination of your MyQuotable.com account.</p>
		<p> You acknowledge that MyQuotable.com has no responsibility for monitoring, filtering or pre-screening Content, but that MyQuotable.com and its designees shall have the right (but not the obligation) in their sole discretion to refuse or remove any Content that violates the Terms of Use or is otherwise objectionable</p>
        <p> You understand and agree that you use MyQuotable.com at your own risk.</p>
		<b>Conditions</b>
        <p> We reserve the right to modify or terminate the services provide by MyQuotable.com at anytime for any or no reason without notice</p>
	    <p> We claim no intellectual property rights over the material you post on MyQuotable.com.</p>
		<p> MyQuotable.com reserves the right to preserve and disclose Content posted to or transmitted via the Service if reasonably necessary to:</p>
		<ul>
	    <li> enforce this Agreement
	    <li> comply with a legal process
	    <li> protect the rights, property, or personal safety of any party.
		</ul>
		
		<p> MyQuotable.com reserves the right to take appropriate legal action against anyone who uses the Service in violation of the Terms of Use. Whenever MyQuotable.com learns of any use of the Service in violation of or that may be in violation of any applicable law, MyQuotable.com may report this to law enforcement authorities and otherwise cooperate with such authorities in their investigation.</p>
		<p> MyQuotable.com may include links to other websites or resources. MyQuotable.com has no control over such sites and resources, and is not responsible for the availability of such external sites or resources. MyQuotable.com does not endorse and is not responsible for any content, advertising, products, or other materials on or available from such sites or resources or your use of such sites or resources.</p>
	</div>
</div>
